body{  
    background-image: url("womens-safety.jpg");
}
h2{
    color:white;
    text-align: center;
    font-size: xx-large;
}
.form_design{
    background-color:whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(red, green, blue);
    width:700px;
    text-align:left;
    margin: 50px auto;
    border-color: black;
    font-style: italic;
    height:50px;
    color:black;
}
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}
